<body>
    <div class="container">
    <br><br>
<h2 style="font-weight: 900;">Register For The Course Before You Take Test.</h2>
<!-- <p>Click on below button</p> -->
<button class="btn btn-3d" style="
background: linear-gradient(135deg, #22e7e7, #38c733); width:10% !important; font-size: 150%;" id="register" (click)="registerCourse()">Register</button>
<div id="option">
    <div style="text-align: center;">
        <button  style="width: 40%;color: white;margin-top: 20px;margin-bottom: 20px;" type="submit" (click)="clickHere()">View Progress<br></button>
    </div>
<table style="width: 80%;">
    <tr>
        <td id="name" style="font-size: 30px;">
           <b style="font-weight: 900;"> SELECT EXAM</b>
        </td>
    </tr>
    <tr>
        <button   class="btn btn-info" (click)="javaExamPage()">JAVA
        </button>
        <button   class="btn btn-primary" (click)="CPlusExamPage()">C++
        </button>
        <button   class="btn btn-primary" (click)="pythonExamPage()">Python
        </button>
        <button   class="btn btn-primary" (click)="sqlExamPage()">SQL
        </button>
        <button   class="btn btn-primary" (click)="dotNetExamPage()"> C#/.Net
        </button>
        <button  class="btn btn-primary"  (click)="phpExamPage()"> PHP
        </button>
    </tr>
</table>
</div>
<br><br><br><br><br><br>
</div>
</body>

