<body>
    <!-- <img class="img-responsive" src="assets/aboutus.jpg" width="50%" > -->
    
    <!-- <img class="img-responsive" src="assets/team.jpg" width="50%" ><img class="img-responsive" src="assets/aboutus.jpg" width="50%" > -->
    <img class="img-responsive" src="assets/aboutusbg.jpg" width="100%" >
    <br><br><br>
    
    
    <div class="container">
      <h1> Features</h1>
    <div id="bs-example-navbar-collapse-1" style="font-size: large;">
        <ul>
          <li>Free online test to practice for Competitive exams.</li>
          <li>Learn and Practice online test for Free and Prepare for your exam online.</li>
          <li>Get many free tests and study materials with answers and explanation.
        </li>
        </ul>
      </div>
      
    <h1> Our Team</h1>
    <img class="img-responsive" src="assets/team2.jpg" width="30%"style="margin-right:7%" >
    <img class="img-responsive" src="assets//team.jpg" width="30%" ><br><br>
    
      <h1> Our contribution</h1>
     <ul>
        <li> <h3>It saves paper. </h3>
    You never have to print an exam for your students and hand them out. Saves paper. Saves trees. Everybody happy. 
    </li>
    <li> <h3>It saves time. </h3>
    
    You can setup an exam in such a way that it will auto-grade itself. If you only use multiple choice questions you never have to check an exam again. The online exam system will take care of that hassle. Completly automated. 
    </li><li> <h3>It saves more time.</h3>
    The distribution of the exam doens't take you any time. Just upload the email addressess of your students and send them an invite. And after the exam they get their result instantly. 
    </li>
    <li> <h3>It saves you money.</h3>
    You don't need to buy any paper. Sending an email is free. On top of that you save on the logistics: your students don't have to assemble in classroom to take the exam. They can do it within a given time frame from their own device. You don't have to rent a classroom. You don't have to hire someone to check the students taking the exam. 
    an make a big question bank with a lot of questions. Every student gets a random selection from that question bank.
    
    </li>
    </ul>
    <div style="display: inline-block;margin-right:15% ;">
    <h1>Contact Us</h1><b>
    Namrata Kumar<br></b>
    (Monday to Friday, 9am to 6pm PST)<br>
    North America Toll-Free:<br>
    1-877-930-7483<br><br><br>
    
    International:<br>
    1-604-637-0780<br><br><br>
    </div>
    
    <div style="display: inline-block;margin-right:15% ;">
      <b>
    Mohan Banothu & Ruthik Roy <br></b>
    (For technical glitches)<br>
    North America Toll-Free:<br>
    1-977-930-7463<br><br><br>
    
    International:<br>
    1-804-637-0740<br><br><br>
    </div><div style="display: inline-block">
      <b>
    Meghana Pallempati </b><br>
    (Quality)<br>
    North America Toll-Free:<br>
    1-877-930-7483<br><br><br>
    
    International:<br>
    1-604-637-0780<br><br><br>
    </div>
    
    
    <section id="main">
      <div id="Carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#Carousel" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel" data-slide-to="1"></li>
          <li data-target="#Carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item carousel-image-1 active">
            <div class="container">
              <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <!-- <h1 class="display-3 h-color">Shop Now</h1>
                <p class="lead">Enjoy Your Shopping Experience</p> -->
                <!-- <a href="#" class="btn btn-color slide-btn btn-lg">Sign Up Now</a> -->
                <!-- <img src="https://images.creativemarket.com/0.1.0/ps/3044735/300/200/m2/fpnw/wm0/screen-.jpg?1501448814&s=2d1afa00714ef93657c9ac0e3a099144"> -->
              </div>
            </div>
          </div>
    
          <div class="carousel-item carousel-image-2">
            <div class="container">
              <div class="carousel-caption d-none d-sm-block mb-5">
                <!-- <h1 class="display-3 h-color">Shop Now</h1>
                <p class="lead">Enjoy Your Shopping Experience</p> -->
                <a href="#" class="btn btn-color slide-btn btn-lg">Learn More</a>
              </div>
            <!-- <img src="https://www.internationalposter.com/media/56919/new-arrivals-v1.jpg"> -->
            </div>
          </div>
    
          <div class="carousel-item carousel-image-3">
            <div class="container">
              <div class="carousel-caption d-none d-sm-block text-right mb-5">
                <!-- <h1 class="display-3 h-color">Shop Now</h1> -->
                <!-- <p class="lead">Enjoy Your Shopping Experience</p> -->
                <a href="#" class="btn btn-color slide-btn btn-lg">Learn More</a>
              </div>
            </div>
          </div>
        </div>
    
        <a href="#Carousel" data-slide="prev" class="carousel-control-prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
    
        <a href="#Carousel" data-slide="next" class="carousel-control-next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      </section>
      </div>
    </body>