.user-details-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-details-from {
    width: 500px;
  }
  .marks-input-box {
    width: 80px;
  }
  body{
      background-color: white;
  }