<body class="container" style="text-align: center;">
    <div class="forgot-password-container">
    <form #forgotPasswordForm="ngForm" class="forgot-password-form">
      <div *ngIf="flag"> 
        <h2 style="text-align: center;"><br><br> <br> <br> <br>Please check your inbox...!!</h2>
      </div>
      <div class="form-control-container mb-3" *ngIf="!flag">
        <br> <br> <br>
        <br> <br> <br>
        <h4 style="color:black;"> Please fill in the email to recieve the reset password link</h4><br><br>
        
        <span *ngIf="flag1" style="color: red;">Please Enter the Email Id</span>
        <!-- <label   for="txtEmail" class="form-label">Email Id</label> -->
        <input
          type="email"
          class="form-control"
          placeholder="Enter Email"
          [(ngModel)]="forgotPassword.userEmail"
          name="userEmail"
          id="txtEmail"
        />
      </div>
      <br>
      <button  *ngIf="!flag" class="btn btn-success btn-sm px-4" (click)="sendLinkToEmail()">Send Reset Link </button>
       <br> <br> <br> <br><br> <br>
    </form>
  </div>
  </body>
