.forgot-password-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
   

    .forgot-password-form{
        width: 400px;
        
        border-radius: 5px;
    }

body,button,input{
    background-color: fixed;
    font-size: 22px;
    align-items: center;
    
}