.container{
  background-color:black;
  }
  .adminid{
    text-align: center;
    align-items: center;
    margin-left: 30%;
  }
  div{
      border-radius: 10px;
     min-height: 12cm; 
     font-size: 100%;
     font-size: 1em;
     margin-left: -4em;;
     margin-bottom:-200px ;
  }
  
  span{
    background-color: white;
  }
  body {
    
    background-image: url(src\assets\admin.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: -1px;
    background-position: center center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
  }
  