<body>
    <br /><br />
  
    <div class="adminid" style="width: 50%; margin-left: 60%" class="adminLogin">
      <br /><br />
      <b>
        <h2 style="background-color: white;width: 70%;">Welcome To Admin Page</h2>
      </b>
  
      <br />
      <br />
      <br />
      <div style="width:100%">
        <button class="adminLoginButton btn btn-primary btn-lg mr-5" (click)="addQuestion()">
          Add Question
        </button>
  
        <button class="adminLoginButton btn btn-primary btn-lg mr-5" (click)="removeQuestion()">
          Remove Question</button><br /><br /><br />
        <button class="adminLoginButton btn btn-primary btn-lg" (click)="reportCard()">
          View Report
        </button>
      </div>
    </div>
  </body>