<!-- 
<body> -->
    <div class="id">
        <br><br><br>
    
        <!-- <img class="img-responsive login-img" src='assets/home.jpg' style="margin-top: 10%;width: 1000%;"> -->
       
    <button type="button" class="btn btn-primary btn-lg" style="font-size: 1em;" aria-pressed="true" (click)="getAdminLogin()" >ADMIN PAGE</button>
    </div>
    <br><br><br><br><br>
    <div>
        <button type="button" class="btn btn-primary btn-lg" style="font-size: 1em;"  aria-pressed="true" (click)="getUserLogin()">&nbsp;&nbsp;USER PAGE &nbsp;</button>
    </div>
    <br><br>
    <br><br> <br><br>
    <!-- <div>
        <button type="button" class="btn btn-primary btn-lg" aria-pressed="true" (click)="registerUser()">USER REGISTERATION</button>
    </div> -->
    <!-- </body> -->