.reset-password-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .reset-password-form{
        width: 400px;
        background-color: #efeef3;
        border-radius: 5px;
    }